.header{
    background-color:salmon;
    text-align: center;
    padding: 30px;
}
.nav{
    background-color:black;
}
.nav a{
    color: floralwhite;
    text-decoration: none;
    padding: 14px 16px;
}
.nav a:hover{
    background-color: seashell;
    color: black;
}
.column{
    overflow: hidden;
    float: left;
    width: 23.42%;
    padding: 10px;
    text-align: center;

}
.column:nth-child(2){
    width: 50%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }


 /* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #555;
    color: white;
  } */
